/*positions for index*/

h1 {

}

h2 {
  margin: -15px 0 0 52px;
}

.logo-box {
  width: 19em;
  height: 10em;
}

.logo-img {
  margin-top: 0.01em; 
}

.top-blurb {
  height: 12em;
}

.lineup {
  margin-top: -0.15em;
}

.social {

}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.block {
  display: block;
}

.inblock {
  display: inline-block;
}

.inline {
  display: inline;

}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box; }

.headshot {
  margin: 0% 2% 0% 10%;
}
